<% provide(:title, "Lenga Help Center") %>


<%= javascript_pack_tag 'HelpCenter' %>

<div id='help'></div>

<h1>Help Center</h1>
<p>How can we help you?</p>


<%= link_to(
  "Can I pay with any currency?",
  article_path(
    id: 980190962,
    slug: "Can I pay with any currency?".parameterize
  )
) %>
<br>
<%= link_to(
  "What is the LENGA cancellation policy?",
  article_path(
    id: 298486374,
    slug: "What is the LENGA cancellation policy?".parameterize
  )
) %>
